

















<!-- <div id="site-nav--mobile" class="site-nav style--sidebar" [class.active]="active === true">
	<div id="site-navigation" class="site-nav-container">
		<div class="site-nav-container-last">
			<p class="title">Menu</p>
			<div class="main-navbar">
				<nav class="primary-menu">
					<ul class="menu-collection">
						<li *ngFor="let item of listmenu" class="navi1 has-sub level0">
							<a routerLink="/">{{item.name}} </a>
							<span *ngIf="item.sub.length >0" class="icon-subnav">
								<svg (click)="iconActive($event)" width="1em" height="1em" viewBox="0 0 16 16"
									class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd"
										d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
								</svg>
							</span>
							<ul *ngIf="item.sub.length >0" class="submenu subnav-children">
								<li *ngFor="let item of item.sub" class="navi2 has-sub level1">
									<a routerLink="/">{{item.name}} </a>
									<span *ngIf="item.sub.length >0" class="icon-subnav">
										<svg (click)="iconActive1($event)" width="1em" height="1em" viewBox="0 0 16 16"
											class="bi bi-chevron-down" fill="currentColor"
											xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd"
												d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
											</svg></span>
									<ul class="submenu subnav-child">
										<li *ngFor="let item of item.sub">
											<a routerLink="/" title="">
												{{item.name}}
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>

				</nav>
			</div>

		</div>
	</div>
	<div id="site-cart" class="site-nav-container" tabindex="-1">
		<div class="site-nav-container-last">
			<p class="title">Giỏ hàng</p>
			<div class="cart-view clearfix">
				<table id="clone-item-cart" class="table-clone-cart">
					<tbody>
						<tr class="item_2 hidden">
							<td class="img">
								<a href="" title=""><img src="" alt="" /></a>
							</td>
							<td>
								<a class="pro-title-view" href="" title=""></a>
								<span class="variant"></span>
								<span class="pro-quantity-view"></span>
								<span class="pro-price-view"></span>
								<span class="remove_link remove-cart"> </span>
							</td>
						</tr>
					</tbody>
				</table>
				<form action="/cart" method="post" id="cartformpage">
					<table id="cart-view">
						<tbody>
							<tr>
								<td>Hiện chưa có sản phẩm</td>
							</tr>
						</tbody>
					</table>
					<span class="line"></span>
					<table class="table-total">
						<tbody>
							<tr>
								<td class="text-left">TỔNG TIỀN:</td>
								<td class="text-right" id="total-view-cart">0₫</td>
							</tr>
							<tr>
								<td>
									<a href="javascript:void(0)" class="linktocart button dark">Tiếp tục mua hàng</a>
								</td>
								<td class="checkout">
									<a href="/checkout" id="checkout" class="linktocheckout btn-checkout button dark"
										name="checkout" value="">Thanh toán</a>
								</td>
							</tr>
						</tbody>
					</table>

					<p>
						Cùng sẻ chia những cảm xúc, thông điệp gửi gắm cho người thân, bạn
						bè xung quanh trong những sự kiện đặc biệt chỉ bằng dịch vụ gói quà
						“Filled With Love” của 160STORE. Quý khách vui lòng CLICK vào ô bên
						dưới và chọn thanh toán để chọn dịch vụ!
					</p>
					<a href="https://www.160store.com/products/hop-qua-160store" class="linktocart button dark">Dịch vụ
						gói quà chỉ với 30.000 VNĐ</a>

					<div class="checkout-note clearfix">
						<textarea id="note" name="note" rows="8" cols="50" placeholder="Ghi chú"></textarea>
					</div>
					<table>
						<tbody>
							<tr></tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
	<div id="site-search" class="site-nav-container" tabindex="-1">
		<div class="site-nav-container-last">
			<p class="title">Tìm kiếm</p>
			<div class="search-box wpo-wrapper-search">
				<form action="/search" class="searchform searchform-categoris ultimate-search navbar-form">
					<div class="wpo-search-inner">
						<input type="hidden" name="type" value="product" />
						<input required="" id="inputSearchAuto" name="q" maxlength="40" autocomplete="off"
							class="searchinput input-search search-input" type="text" size="20"
							placeholder="Tìm kiếm sản phẩm..." />
					</div>
					<button type="submit" class="btn-search btn" id="search-header-btn">
						<svg version="1.1" class="svg search" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27"
							style="enable-background: new 0 0 24 27" xml:space="preserve">
							<path
								d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z">
							</path>
							<rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)"
								width="4" height="8"></rect>
						</svg>
					</button>
				</form>
				<div id="ajaxSearchResults" class="smart-search-wrapper ajaxSearchResults" style="display: none">
					<div class="resultsContent"></div>
				</div>
			</div>
		</div>
	</div>
</div> -->





