<!-- slide banner -->
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Light mask</h3>
      <p>First text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Strong mask</h3>
      <p>Secondary text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Slight mask</h3>
      <p>Third text</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<!-- giới thiệu -->

<!--Section: Products v.4-->
<section class="pb-3 text-center container-fluid">

  <!--Section heading-->
  <h2 class="h1 py-5">Danh mục Hot</h2>
  <!--Section description-->
  <p class="grey-text mb-5">
    Chào mừng bạn đến với Website được viết dựa trên kiến trúc MicroService by Nguyễn Khả Hợp, cảm ơn bạn vì đã bỏ chút
    thời gian để truy cập vào trang web của tớ nha...
  </p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-3 col-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half" 
        routerLinkActive="router-link-active">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect routerLink='listproduct/14/quan'>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt="">
          </mdb-card-img>
          <div class="stripe dark">
            <a>
              <p>Quần
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half" [routerLink]="['/listproduct/12/ao']">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" alt="">
          </mdb-card-img>
          <div class="stripe light">
            <a>
              <p>Áo
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half" [routerLink]="['/listproduct/18/ao-thun']">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" alt="">
          </mdb-card-img>
          <div class="stripe dark">
            <a>
              <p>Áo thun
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    <!--Fourth column-->
    <div class="col-lg-3 col-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half" [routerLink]="['/listproduct/17/ao-so-mi']">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" alt="">
          </mdb-card-img>
          <div class="stripe light">
            <a>
              <p>Áo sơ mi
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Fourth column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Products v.4-->

<section class="text-center container-fluid">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold">Tại sao lại viết cái Web này?</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text">Do hông biết làm gì ngoài code ha...^_^</p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="chart-area" size="3x" class="red-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Analytics</h5>
      <p class="grey-text">Tốc độ nhanh
      </p>
    </div>
    <div class="col-md-4">
      <mdb-icon fas icon="book" size="3x" class="cyan-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Tutorials</h5>
      <p class="grey-text">Đầy đủ hướng dẫn chi tiết
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Support</h5>
      <p class="grey-text">Hỗ trợ lâu dài nha
      </p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>

<!-- sản phẩm -->
<app-arry-product [slides]="listP"></app-arry-product>


<!-- blog -->
<section class="magazine-section my-5 container-fluid">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Bài Viết</h2>
  <!-- Section description -->
  <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Một sản phẩm được viết bởi Nguyễn Khả Hợp dựa trên
    kiến trúc
    MicroService, cảm ơn bạn vì đã bỏ chút thời gian để truy cập vào trang web của tớ nha...</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-6 col-12">

      <!-- Featured news -->
      <div class="single-news mb-lg-0 mb-4" *ngFor="let item of listA;first as isFirst">
        <div *ngIf="isFirst" routerLink='/article/{{item.id}}/{{item.url}}'>
          <div class="view overlay rounded z-depth-1-half mb-4">
            <!-- <img src="http://res.cloudinary.com/imageshared/image/upload/f_auto,q_auto/v1/{{item.coverImage}}"> -->
            <cl-image public-id="{{item.coverImage}}">
              <cl-transformation quality="auto" loading="lazy" fetch-format="auto">
              </cl-transformation>
              <cl-placeholder type="vectorize">
              </cl-placeholder>
            </cl-image>
            <a>
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
            </a>
          </div>

          <!-- Data -->
          <div class="news-data d-flex justify-content-between">
            <a href="#!" class="deep-orange-text">
              <h6 class="font-weight-bold">
                <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>{{item.nameBlog}}
              </h6>
            </a>
            <p class="font-weight-bold dark-grey-text">
              <mdb-icon far icon="clock" class="pr-2"></mdb-icon>{{item.createDate.substring(0,10)}}
            </p>
          </div>

          <!-- Excerpt -->
          <h3 class="font-weight-bold dark-grey-text mb-3">
            <a>{{item.subject}}</a>
          </h3>
          <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">{{item.titleMeta}}</p>

        </div>

      </div>
      <!-- Featured news -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-6 col-12">

      <div *ngFor="let item of listA;first as isFirst">
        <div class="single-news mb-4" *ngIf="!isFirst" routerLink='/article/{{item.id}}/{{item.url}}'>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3">

              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <img src="http://res.cloudinary.com/imageshared/image/upload/f_auto,q_auto/v1/{{item.coverImage}}">

                <a>
                  <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                </a>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-9">

              <!-- Excerpt -->
              <p class="font-weight-bold dark-grey-text">{{item.createDate.substring(0,10)}}</p>
              <div class="d-flex justify-content-between">
                <div class="col-11 text-truncate pl-0 mb-3">
                  <a href="#!" class="dark-grey-text">{{item.titleMeta}}</a>
                </div>
                <a>
                  <i class="fas fa-angle-double-right"></i>
                </a>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
      </div>





    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->

</section>
<!-- mạng xa hội -->
<!--Section: Blog v.4-->
<section class="my-5 container-fluid">

  <!--Grid row-->
  <div class="row">
    <div class="col-md-12">
      <!--Featured image-->
      <mdb-card [cascade]="true" [wider]="true" [reverse]="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Wide sample post image">
          </mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Post data-->
        <mdb-card-body [cascade]="true" class="text-center">
          <h2>
            <a class="font-weight-bold">Cảm ơn bạn nhiều nha...</a>
          </h2>
          <p>Written by
            <a>Nguyễn Khả Hợp</a>, 03/01/1997
          </p>

          <!--Social shares-->
          <div class="social-counters ">

            <a mdbBtn color="indigo" class="waves-light col-6 col-md-2" mdbWavesEffect>
              <mdb-icon fab icon="facebook-f"></mdb-icon>
              <span class="clearfix d-none d-md-inline-block">Facebook</span>
            </a>
            <span class="counter ">22</span>


            <!--Twitter-->
            <a mdbBtn color="info" class="waves-light col-6 col-md-2" mdbWavesEffect>
              <mdb-icon fab icon="twitter" class="left "></mdb-icon>
              <span class="clearfix d-none d-md-inline-block">Twitter</span>
            </a>
            <span class="counter ">22</span>

            <!--Google+-->
            <a mdbBtn color="danger" class="waves-light col-6 col-md-2" mdbWavesEffect>
              <mdb-icon fab icon="google-plus" class="left "></mdb-icon>
              <span class="clearfix d-none d-md-inline-block">Google+</span>
            </a>
            <span class="counter ">31</span>

            <!--Comments-->
            <a mdbBtn color="default" class="waves-light col-6 col-md-2" mdbWavesEffect>
              <mdb-icon far icon="comments" class="left "></mdb-icon>
              <span class="clearfix d-none d-md-inline-block">Comments</span>
            </a>
            <span class="counter ">18</span>

          </div>
          <!--Social shares-->
        </mdb-card-body>
        <!--Post data-->
      </mdb-card>

      <!--Excerpt-->
      <div class="excerpt mt-5 text-center">
        <p>Một sản phẩm được viết bởi Nguyễn Khả Hợp dựa trên kiến trúc
          MicroService, cảm ơn bạn vì đã bỏ chút thời gian để truy cập vào trang web của tớ nha...
        </p>
      </div>
    </div>
  </div>
  <!--Grid row-->

</section>
<!--Section: Blog v.4-->